
body {
    font-family: 'Muli', sans-serif;
}

.navbar {
    opacity: 1;
    background-color: #2699FB;
    display: flex;
}
.navbar-brand {
    color: #ffffff;
}
.navbar-nav li a, .fas{
    color: #ffffff;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.dropdown-menu {
    background-color: #2699FB;
}
.holidays {
    margin: 160px auto 0px auto;
    background-color: #BCE0FD;
    border: 1px solid #BDE0FD;
    border-radius: 8px;
    opacity: 1;
}

.form-inline {
    margin: 30px;
}
.postcards {
    margin: 60px auto;
    background-color: #BCE0FD;
    border: 1px solid #BDE0FD;
    border-radius: 8px;
    opacity: 1;
    height: 600px;
    overflow: scroll;
}
.postcards img {
    max-height: 260px;
}
.card {
    background-color: #BCE0FD;
    border: 1px solid #BDE0FD;
    color: #2699FB;
    font-weight: 900;
}
/*

CC 2.0 License Iatek LLC 2018
Attribution required

*/

@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
        margin-right: initial;
    }
    
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}

.carousel-item img {
    height: 260px;
    width: 260px;
}
.carousel-item h5 {
    text-align: center;
}
.carousel-item h6 {
    text-align: center;
    color: #2699FB;
}

.add_recipient {
    margin: 60px auto;
    background-color: #BCE0FD;
    border: 1px solid #BDE0FD;
    border-radius: 8px;
    opacity: 1;
    overflow: scroll;
}

#form1 {
    padding: 15px;
    background-color: #BCE0FD;
    border: 1px solid #BDE0FD;
    color: #2699FB;
    font-weight: 900;
   display: none;
  }
  
  #formButton {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

.postcard_info, .text, .recipient_info {
    border: 2px double #2699FB;
    border-radius: 8px;
    box-shadow: 1px 1px 2px black, 0 0 25px #2699FB;
    color: #2699FB;
    font-weight: 900; 
}







  .btn1 {
      
      position: relative;
      display: inline-block;
      width: 277px;
      height: 50px;
      font-size: 1em;
      font-weight: bold;
      line-height: 60px;
      text-align: center;
      text-transform: uppercase;
      background-color: transparent;
      cursor: pointer;
      text-decoration:none;
      font-family: 'Roboto', sans-serif;
      font-weight:900;
      font-size:17px;
      letter-spacing: 0.045em;
  }
  
  .btn1 svg {
      position: absolute;
      top: 0;
      left: 0;
  }
  
  .btn1 svg rect {
      stroke: #2699FB;
      stroke-width: 4;
      stroke-dasharray: 353, 0;
      stroke-dashoffset: 0;
      -webkit-transition: all 600ms ease;
      transition: all 600ms ease;
  }
  
  .btn1 span{
    background: rgb(38, 153, 251);
    background: -moz-linear-gradient(left,  rgb(38, 206, 251,1) 0%, rgba(38, 206, 251,1) 100%);
    background: -webkit-linear-gradient(left,  rgb(38,224,251,1) 0%,rgb(38,171,251,1) 100%);
    background: linear-gradient(to right,  rgb(38,224,251,1) 0%,rgb(38,171,251,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26abfb', endColorstr='#26e0fb',GradientType=1 );
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .btn1:hover svg rect {
      stroke-width: 4;
      stroke-dasharray: 196, 543;
      stroke-dashoffset: 437;
  }



  

  .button-1 {
    background-color: #2699FB;
    border: 3px solid #2699FB;
    
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #2699FB;
    color: #ffffff;
  }
  .button-1:hover {
    box-shadow: 0 0 10px 0 #2699FB inset, 0 0 20px 2px #2699FB;
    border: 3px solid #2699FB;
  }
 .fa-cart-arrow-down, .fa-edit {
     color: black;
 }

 .assoc_contacts {
     color: black;
     font-weight: 900;
 }