<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
     <!-- Please comment the line below after you set up virtual environment 
    <link rel="stylesheet" href=" file:///Users/vetaplotnikova/Desktop/CodingDojo/python_stack/flask/postcards/static/css/style.css"> -->
 
   <!-- Please, use this line in your virtual environment instead of above -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"> 

    <title>Login Page</title>

</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="description col-12 col-md-4">
                <div class="product_info">
                    <h3>Postcards Service</h3>
                    <p>Postcard Mailing is a fast, easy and affordable way to get your marketing message out. In as few as three days, your postcards can be in the mail and on their way to your very best customers and prospects. Try custom online postcard with direct mailing services today! Also it's the best way to make a pleasant surprise for your relatives, freinds and partners. Create your unique card for any holiday with our postcards service. Good Luck!</p>
                </div>

            </div>
            <div class="register col-12 col-md-6">
                <div class="register_info">
                    <form method="POST" action="/submitRegistration" class="sign_up_form">
                            <h3>Sign Up</h3>
                            <div class="form-row names">
                                    <div class="form-group col-md-6">
                                      <input type="text" class="form-control" id="f_name" name="first_name" placeholder="First Name" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                      <input type="text" class="form-control" id="l_name" name="last_name" placeholder="Last Name" required>
                                  </div>
                                  </div>
                            <input type="text" class="form-control" class="email" name="email" placeholder="Email" required>
                            <input type="password" class="form-control" class="password" name="pw"  placeholder="Password" required>
                            <input type="password" class="form-control" class="password" name="c_pw"  placeholder="Confirm Password" required>

                           
                            <div class="row mx-1">
                            <button type="submit" class="btn btn-primary btn-lg btn-block col-12">Sign Up</button>
                            </div>
                        </form>
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                    <p>{{message}}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="bottom_content">
                            <div class="row justify-content-center">
                            <p class="bottom_info">Already registered? <a href="login">Sign In</a></p>
                            </div>
                    </div>
                   

            </div>
        </div>
    </div>

</body>
</html>